doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style. 
            .centered {
                position: fixed;
                top: 50%;
                left: 50%;
                /* bring your own prefixes */
                transform: translate(-50%, -50%);
            }
            .body{
                background-color: #333333;
            }


    body(class="body")
        canvas(id="canvas", class="centered")
        div(id="tableDiv")

        script.

            parsedData = !{JSON.stringify(parseData)}
            console.log(parsedData)
            const canvasDemo = document.getElementById("canvas");
            const ctx = canvasDemo.getContext("2d");

            canvasDemo.width = 800;
            canvasDemo.height = 400;

            ctx.imageSmoothingEnabled= false;

            let directionX = 1;
            let directionY = 1;
            data = [];

            const drawPieChart = (centerx, centery, radius, data) => {
                
                console.log(data)
                //  360 degrees
                let startAngle = 0;
                let endAngle = 0;

                //  Get total amount of Arc Units (number of segments to complete circle)
                let totalArcUnits = 0;
                for(var i = 0; i < data.length; i++) {
                    totalArcUnits += data[i][0];
                }

                //  Full Circle divided by total amount of Arc Units
                //  Equals length of each arc needed to complete a circle
                let arcLengthDegrees = 360 / totalArcUnits;

                //  Convert to Radians
                let arcLengthRadian = arcLengthDegrees * (Math.PI / 180);

                for(var i = 0; i < data.length; i++) {
                    ctx.beginPath();
                    ctx.moveTo(centerx, centery);
                    //  Get color from chart info
                    ctx.fillStyle = data[i][1];
                    

                    //  Start new arc (pie slice) from end of previous arc
                    startAngle = endAngle;
                    endAngle = endAngle + (arcLengthRadian * data[i][0]);

                    ctx.arc(centerx, centery, radius, startAngle, endAngle);
                    ctx.closePath();
                    ctx.fill();
                }
            }

            drawPieChart(100, 200, 50, parsedData.q1Color)
            drawPieChart(250, 200, 50, parsedData.q2Color)
            drawPieChart(400, 200, 50, parsedData.q3Color)
    

            function tableKeys (data) {
                var tableDiv = document.getElementById("tableDiv");
                var table = document.createElement('TABLE');
                var tableBody = document.createElement('TBODY');

                table.appendChild(tableBody);        

                    for(i = 0; i < data.length; i++){
                        var tr = document.createElement('TR')
                        var th = document.createElement('TD')
                        console.log(data[i]);

                        console.log(data[i][0]);
                        console.log(data[i][1])

                        th.appendChild(document.createTextNode(data[i][2] + " "))
                        th.appendChild(document.createTextNode(data[i][0] + " "))
                        th.appendChild(document.createTextNode(data[i][1]))
                        th.style.color = data[i][1]
                        th.style.backgroundColor = "#333333"

                        tr.appendChild(th);
                        tableBody.appendChild(tr);
                    }

                    tableDiv.appendChild(table);
            }

            tableKeys(parsedData.q1Color)
            tableKeys(parsedData.q2Color)
            tableKeys(parsedData.q3Color)


            //console.log(data);


